
.card {
    border: 1px solid black;
}


table.superlearn {
    width: 100%;
    border-collapse: collapse;

    tr.grey { background-color: #f8f8f8; };
    
    td, th {
        border: 1px solid black;
    };
}
